<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>
    <style>
        @font-face {
            font-family: MinionPro;
            src: url('./fonts/MinionPro-Regular.otf') format('opentype');
        }
        
        html {
            height: 100%;
            width: 100%;
        }
        
        body,
        main {
            width: 100%;
            transition: 8s linear;
        }
        
        main {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            transition: .5s ease-in;
        }
        
        html,
        body,
        main,
        div,
        p,
        span,
        a,
        ul,
        li,
        header,
        footer {
            padding: 0;
            margin: 0;
            text-decoration: none;
            font-family: 'MinionPro', 'monospace';
        }
        
        a,
        a:visited {
            color: inherit;
        }
        
        p {
            margin-bottom: 32px;
            line-height: 1.67;
            font-size: 11px;
            color: #057cb4;
        }
        
        .container {
            width: 100%;
            text-align: center;
        }
        
        #main-img {
            max-width: 551px;
            margin: auto;
            position: relative;
        }
        
        hr {
            width: 46px;
            background-color: #F5C3AA;
            color: #F5C3AA;
            height: 1px;
            border: none;
            outline: none;
            margin-bottom: 30px;
        }
        
        .text {
            max-width: 400px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="text">
        <p>Brand and experience design for<br>direct-to-consumer and tech-enabled companies.</p>
    </div>
</body>
</html>
